<ion-menu contentId="main-content">
  <ion-header color="light">
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-padding" id="main-content" class="zindex">
  <div class="flexheaderfull">
  <ion-header>
 
    <ion-toolbar>
      
      <ion-buttons slot="start">
        <div class="flextoolbar" color="light">
        <ion-menu-button color="light"></ion-menu-button>
        
      <ion-searchbar color="light" placeholder="Custom Search Icon"></ion-searchbar>
      <ion-button >
        <ion-icon color="light"slot="icon-only" name="folder"></ion-icon>
      </ion-button>

    </div>
      </ion-buttons>
    

    </ion-toolbar>

    <div class="UploadItem" >
      <p class="texteUp">Charger un fichier pour le scanner</p>
      <ion-card>

     
        <ion-fab-button>
          <ion-icon name="image"></ion-icon>
         
        </ion-fab-button>

        <ion-fab-button>
          
          <ion-icon name="Camera"></ion-icon>
         
        </ion-fab-button>
      
      </ion-card>
    </div>

  </ion-header>

</div>
 
</div>

<ion-content class="ion-padding" color="light">
  <div class="cardcontainer">
    <ion-card>
      <ion-button fill="clear" shape="round" color="dark">
        <ion-icon slot="start" name="image" color></ion-icon>
        Images
      </ion-button>
      <p>files</p>
    </ion-card>

    <ion-card>
      <ion-button fill="clear" color="dark">
        <ion-icon slot="start" name="document"></ion-icon>
        Documents
      </ion-button>
        <p>files</p>
    </ion-card>
  </div>
 
 

 <div class="listitemfiles">
  <h1>Mes fichiers</h1>
 
  <ion-list [inset]="true">
    <ion-item>
      <ion-avatar>
        <img src="../../assets/icon/Adobe_Reader_X_icon.png" />
      </ion-avatar>
      <ion-label>Pokémon.pdf <br>
        <p>10MB</p>
      </ion-label>
      
        <ion-button slot="end"  color="light">
          <ion-icon  name="options" slot="icon-only" ></ion-icon>
        </ion-button>
      
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/icon/microsoft-office_96512.png" />
      </ion-avatar>
      <ion-label>Report.doc <br>
        <p>20MB</p>
      </ion-label>
      
        <ion-button slot="end"  color="light">
          <ion-icon  name="options" slot="icon-only" ></ion-icon>
        </ion-button>
      
    </ion-item>
  
 
  </ion-list>
</div>
  

<div class="listitemscanned">
  <h1>Recemment scanned</h1>
  <div class="scanned">
    <ion-card>
     
      <img src="../../assets/icon/360_F_441897440_ZUbcIXGln6gzsYt5q0QDkzmdj9utpEg3.jpg" />
      
     
      <p>files</p>
    </ion-card>
    <ion-card>
     
      <img src="../../assets/icon/360_F_441897440_ZUbcIXGln6gzsYt5q0QDkzmdj9utpEg3.jpg" />
      
     
      <p>files</p>
    </ion-card>

    <ion-card>
     
      <img src="../../assets/icon/360_F_441897440_ZUbcIXGln6gzsYt5q0QDkzmdj9utpEg3.jpg" />
      
     
      <p>files</p>
    </ion-card>

   
    

    
  </div>
  </div>

</ion-content>